$bg-gradient-light-mode: linear-gradient(145deg, rgba(110,110,110,1) 0%, rgba(0,0,0,1) 35%, rgba(112,112,112,1) 100%);
$box-shadow: 2px 7px 8px 3px rgba(0,0,0,0.5);
$font-family: Verdana, Tahoma, sans-serif;  
$card-search-color: black;
$input-text-border: rgb(0, 0, 0) !important;
$input-text-box-shadow: 0 1px 0 0 black !important;
$location-icon-color: black;
$logo-text-shadow: 2px 3px 2px #47BF9F;